<div class="container mx-auto p-6">
  <div class="max-w-md mx-auto bg-white shadow-md rounded-lg">
      <h2 class="text-xl font-semibold text-gray-700 text-center my-4">Ajouter un Restaurant</h2>

      <form (ngSubmit)="submitForm()">
          <div class="mb-4">
              <label class="block text-gray-600" for="shopName">Nom du restaurant :</label>
              <input 
                  type="text" 
                  id="shopName"
                  [(ngModel)]="restaurantData.nom" 
                  name="nom" 
                  required 
                  class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                  placeholder="Entrez le nom du restaurant"
              >
          </div>

          <div class="mb-4">
              <label class="block text-gray-600" for="shopAddress">Adresse :</label>
              <input 
                  type="text" 
                  id="shopAddress"
                  [(ngModel)]="restaurantData.adresse" 
                  name="adresse" 
                  required 
                  class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                  placeholder="Entrez l'adresse du restaurant"
              >
          </div>

          <div class="mb-4">
              <label class="block text-gray-600" for="shopPhone">Téléphone :</label>
              <input 
                  type="tel" 
                  id="shopPhone"
                  [(ngModel)]="restaurantData.telephone" 
                  name="telephone" 
                  required
                  class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                  placeholder="Entrez le numéro de téléphone du restaurant"
              >
          </div>

          

          <button type="submit"
              class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">
              Soumettre
          </button>

      </form>
  </div>
</div>



