<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header">
                    <h6 class="card-title mb-0">Vos points de ventes</h6>
                </div>
                <div class="card-body">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <span class="d-flex align-items-center">
                                        <span
                                            class="border d-flex justify-content-center align-items-center rounded-circle p-2 bg-light">
                                            <span
                                                class="border d-flex justify-content-center align-items-center rounded-circle p-2 bg-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" class=" svg-stroke">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                    </path>
                                                    <path d="M5 12l-2 0l9 -9l9 9l-2 0">
                                                    </path>
                                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7">
                                                    </path>
                                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="text-reverse ms-3 h6 mb-0">
                                            Vous trouvez ici vos points de ventes et les transactions associées à chaque
                                            point de vente
                                        </span>
                                    </span>
                                </div>
                                <div class="col-md-4 text-end">
                                    <div class="card-action">
                                        <button class="btn btn-outline-dark col-md-auto col-12 mt-md-0 mt-4"
                                            type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_addbank"
                                            aria-controls="myOffcanvas" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 24 24"
                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round" class=" svg-stroke">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="">
                                                </path>
                                                <path d="M12 5l0 14"></path>
                                                <path d="M5 12l14 0"></path>
                                            </svg>
                                            Ajouter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row g-3 mb-3">
                <div class="col-sm-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item border-0 ">
                                    <h2 class="accordion-header " id="panelsStayOpen-headingOne">
                                        <button class="accordion-button px-2 py-1" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                            <span
                                                class="no-thumbnail p-2 border rounded-circle bg-light position-relative top-0">
                                                <img src="assets/images/profile_av.png" alt="avatar"
                                                    class="avatar lg border rounded-circle">
                                                <span style="width: 35px; height: 35px; bottom: 10px; right: 0px;"
                                                    class="d-flex justify-content-center align-items-center   border-1 rounded-circle bg-light position-absolute bottom-0">
                                                    <img style="width: 20px; height: 20px;" class="rounded-circle"
                                                        src="assets/images/flags/4x3/ac.svg" alt="svg">
                                                </span>
                                            </span>
                                            <span class="ms-3">
                                                <span class="text-reverse h6 text-capitalize">save
                                                    the
                                                    forest</span>
                                                <span class="text-muted d-block text-capitalize">usd
                                                    accountnt ending
                                                    in 9107</span>
                                            </span>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <!-- start: Recipients Accordion Table -->
                                            <div class="table-responsive">
                                                <table class="table align-middle table-hover dataTable  table-body"
                                                    style="width: 100%;">
                                                    <thead>
                                                        <tr class="small text-muted text-uppercase">
                                                            <th>
                                                                <span class="form-check mb-0 " style="font-size: 16px;">
                                                                    <input
                                                                        class="form-check-input select-all d-none d-md-block"
                                                                        type="checkbox" value="">
                                                                </span>
                                                            </th>
                                                            <th>Invoice Id</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                            <th>Date</th>
                                                            <th>Payment Method</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="row-selectable">
                                                            <td>
                                                                <span class="form-check mb-0">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="h6 mb-0">342334</span>
                                                            </td>
                                                            <td>$500.00</td>
                                                            <td><span class="badge text-bg-danger">Failed</span>
                                                            </td>
                                                            <td>March 10, 2024</td>
                                                            <td>Credit Card</td>
                                                        </tr>
                                                        <tr class="row-selectable">
                                                            <td>
                                                                <span class="form-check mb-0">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="h6 mb-0">784521</span>
                                                            </td>
                                                            <td>$1500.00</td>
                                                            <td><span class="badge text-bg-success">Success</span>
                                                            </td>
                                                            <td>Feb 25, 2024</td>
                                                            <td>Debit Card</td>
                                                        </tr>
                                                        <tr class="row-selectable">
                                                            <td>
                                                                <span class="form-check mb-0">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        value="">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <span class="h6 mb-0">461832</span>
                                                            </td>
                                                            <td>$200.00</td>
                                                            <td><span class="badge text-bg-warning">Pending</span>
                                                            </td>
                                                            <td>Feb 05, 2024</td>
                                                            <td>Bank Transfer</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>